<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header class="navbar navbar-inverse navbar-fixed-top">
        <nav class="container">
            <nav class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" rel="home" href="#" title="Haarlem Festival">
                    <img style="max-width: 130px; margin-top: -12px;"
                         src="/img/Header/HF_logo_header.png"> 
                    @* Swap href to actionlink???? *@

                </a>
            </nav>

            <nav class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Jazz", "Jazz", "Jazz")</li>
                    <li>@Html.ActionLink("Dinner", "Index", "Dinner")</li>
                    <li>@Html.ActionLink("Talking", "Index", "Talking")</li>
                    <li>@Html.ActionLink("Historic", "Index", "Historic")</li>
                    <li>@Html.ActionLink("Agenda", "Index", "Agenda")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Contact")</li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
                    <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
                </ul>
                <a class="navbar-right" rel="home" href="#" title="Haarlem Festival">
                    <img style="width: 33px; height: 28px; margin-top: 10px;"
                         src="/img/Header/Shopping_cart_header.png">    
                </a>
            </nav>
        </nav>
    </header>

    <div class="container body-content">
        @RenderBody()
    </div>
    <footer>
        <ul>
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            <li>@Html.ActionLink("Jazz", "Index", "Jazz")</li>
            <li>@Html.ActionLink("Dinner", "Index", "Dinner")</li>
            <li>@Html.ActionLink("Talking", "Index", "Talking")</li>
            <li>@Html.ActionLink("Historic", "Index", "Historic")</li>
            <li>@Html.ActionLink("Agenda", "Index", "Agenda")</li>
            <li>@Html.ActionLink("Contact", "Index", "Contact")</li>
        </ul>

        <ul class="footer-list-right">
            <li>Email: @Html.ActionLink("haarlemfestival@haarlem.nl", "Index", "Contact")</li>
            <li>Phone: 06 - 448 28 711</li>
            <li>&copy; @DateTime.Now.Year - Haarlem Festival</li>
        </ul>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
