@model HaarlemFestival.Model.PagePlusOrders
@using HaarlemFestival.Model
@section AddToHead{
    <link href="@Url.Content("~/Content/Agenda.css")" rel="stylesheet" type="text/css" />
}
@{
    ViewBag.Title = "Index";
}

<section class="AgendaIntro">

    <h2 class="AgendaHeader">@Model.Page.Title</h2>

    <p class="AgendaIntroText">
       @Model.Page.PageDescriptions
    </p>
</section>



<section class="AgendaOrders">
    <ul class="AgendaOrderList">
        <li class="OrderHeader">
            <div class="orderItem col-md-1">Id</div>
            <div class="orderItem col-md-2">Name</div>
            <div class="orderItem col-md-2">Event</div>
            <div class="orderItem col-md-1">Prijs</div>
            <div class="orderItem col-md-1">Aantal</div>
            <div class="orderItem col-md-2">Totaalprijs</div>
            <div class="orderItem col-md-2">Tijd/Datum</div>

        </li>

        

        @foreach (Order order in Model.Orders) {
            foreach (OrderHasTickets OHT in order.OrderHasTickets) {
                

        <li class="AgendaOrder">
            <div class="orderItem col-md-1">@OHT.Ticket_TimeSlot_Activity_Id</div>
            <div class="orderItem col-md-2">@OHT.Ticket.TimeSlot.Activity.Name</div>
            <div class="orderItem col-md-2">@OHT.Ticket.TimeSlot.Activity.Type</div>
            <div class="orderItem col-md-1">@OHT.Ticket.Price</div>
            <div class="orderItem col-md-1">@OHT.Amount</div>
            <div class="orderItem col-md-2">@OHT.TotalPrice</div>
            <div class="orderItem col-md-2">@OHT.Ticket.TimeSlot.StartTime</div>
        </li>
                }
            }


    </ul>

</section>



<section class="Agenda">

</section>

