<nav class=" admin col-sm-3 col-md-2 d-none d-sm-block bg-light sidebar">
    <ul class="nav nav-pills flex-column">
        <li class="nav-item">@Html.ActionLink("Overview", "Index", "Sales")</li>
        <li class="nav-item">@Html.ActionLink("Jazz", "Event", new { id = 0 })</li>        
        <li class="nav-item">@Html.ActionLink("Dinner", "Event", new { id = 1 })</li>
        <li class="nav-item">@Html.ActionLink("Talking", "Event", new { id = 3 })</li>
        <li class="nav-item">@Html.ActionLink("Historic", "Event", new { id = 2 })</li>
    </ul> 
</nav>
<!--
<section id="Save-Modal" class="modal">
    <section class="modal-content save-modal">
        <h4 class="text-center">Saving..</h4>
    </section>
</section> 
-->