@model HaarlemFestival.Model.PagePlusActivities

@{
    ViewBag.Title = "Jazz";
}

@section AddToScripts{
    <script src="@Url.Content("~/Scripts/Jazz.js")"></script>
}

<section class="jazz_page_section">
    <section class="row jazz_page_info">
        <section class="col-md-6">
            <h3>@Model.Page.PageDescriptions[0].Title</h3>
            <hr/>
            <p>@Model.Page.PageDescriptions[0].DescriptionText</p>
        </section>
        <section class="col-md-3 jazz_page_info_box">
            <h4 class="jazz_page_info_locatiepatronaat_h">@Model.Page.PageDescriptions[1].Title</h4>
            <p class="jazz_page_info_locatiepatronaat_p">@Html.Raw(HttpUtility.HtmlDecode(Model.Page.PageDescriptions[1].DescriptionText))</p>
        </section>
        <section class="col-md-3 jazz_page_info_box">
            <h4 class="jazz_page_info_locatiegrotemarkt_h">@Model.Page.PageDescriptions[2].Title</h4>
            <p class="jazz_page_info_locatiegrotemarkt_p">@Html.Raw(HttpUtility.HtmlDecode(Model.Page.PageDescriptions[2].DescriptionText))</p>
        </section>
    </section>

    <section class="jazz_page_program_days">
        <h3 class="jazz_page_program_days_header">@Model.Page.PageDescriptions[3].Title</h3>

        @Html.ActionLink(Model.Page.PageDescriptions[4].Title, "Index", "Jazz", new { id = 1}, new { @class = "btn btn-default jazz_page_program_thursday" })
        @Html.ActionLink(Model.Page.PageDescriptions[5].Title, "Index", "Jazz", new { id = 2 }, new { @class = "btn btn-default jazz_page_program_friday" })
        @Html.ActionLink(Model.Page.PageDescriptions[6].Title, "Index", "Jazz", new { id = 3 }, new { @class = "btn btn-default jazz_page_program_saturday" })
        @Html.ActionLink(Model.Page.PageDescriptions[7].Title, "Index", "Jazz", new { id = 4 }, new { @class = "btn btn-default jazz_page_program_sunday" })

        <button name="passpartout" type="submit" class="btn btn-default jazz_page_program_passpartout" tabindex="5">@Model.Page.PageDescriptions[8].Title</button>
    </section>

    <section class="jazz_page_inhoud">
        @for (int i = 0; i < Model.Activities.Count; i++)
        {
            <!-- The Modal -->
            <section id="myModal_@Model.Activities[i].Id" class="modal">
            <!-- Modal content -->
                    <section class="modal-content">
                        <span class="close">&times;</span>
                        <p class="modaltitle">1</p>
                        <p class="modallocation">2</p>
                        <p class="modalhall">3</p>
                        <p class="modalprice">4</p>
                        <p class="modaltime">5</p>
                        <p class="modaldatum">6</p>
                        <label>Aantal</label>
                        <input id="textBox_@Model.Activities[i].Id" type="text" />
                        <a href="@Url.Action("OrderJazz", "Jazz", new { id = Model.Activities[i].Id, aantal = "xxxx"})" id="link">Order Ticket</a>

                        @*@Html.ActionLink("Order Ticket", "OrderJazz", "Jazz", new { id = Model.Activities[i].Id, aantal = 5}, null)*@
                        @*@using (Html.BeginForm("OrderJazz", "Jazz", FormMethod.Post))
                        {
                            @Html.EditorFor(m => m.OrderTicket.Amount)
                            @Html.HiddenFor(m => m.Activities[i].Id)

                            <input type="submit" value="Submit" />
                        }*@
                    </section>
            </section>

            <section class="col-md-4 jazz_page_activiteit_section">
                <section>
                    <img src=@Model.Activities[i].ActivityDescriptions[0].ImageUrl width="280" height="280" alt="Jazz @Model.Activities[i].ActivityDescriptions[0].Title" />
                </section>
                <section>
                    <section>
                        <section>
                            <h3 id="jazz_activity_title_@Model.Activities[i].Id" class="jazz_activiteit_title">@Model.Activities[i].ActivityDescriptions[0].Title</h3>
                            @*<p>@Model.Activities[i].ActivityDescriptions[0].DescriptionText</p>*@
                        </section>
                        <hr class="jazz_page_actinfosection_line" />
                        <section>
                            <section class="col-md-6">
                                <p id="jazz_activity_location_@Model.Activities[i].Id" class="jazz_activiteit_location">@Model.Page.PageDescriptions[9].Title @Model.Activities[i].Location.Name</p>
                                
                                @if (Model.Activities[i].Timeslots[0].StartTime.ToString("dd/MM/yyyy") != "29-07-2018")
                                {
                                    <p id="jazz_activity_hall_@Model.Activities[i].Id" class="jazz_activiteit_hall">@Model.Page.PageDescriptions[10].Title @Model.Activities[i].Timeslots[0].Hall</p>
                                    <p id="jazz_activity_price_@Model.Activities[i].Id" class="jazz_activiteit_price">@Model.Page.PageDescriptions[11].Title €@Model.Activities[i].Timeslots[0].Tickets[0].Price</p>
                                }
                                
                                <p id="jazz_activity_time_@Model.Activities[i].Id" class="jazz_activiteit_time">@Model.Page.PageDescriptions[12].Title @Model.Activities[i].Timeslots[0].StartTime.ToString("HH:mm") - @Model.Activities[i].Timeslots[0].EndTime.ToString("HH:mm")</p>
                            </section>
                            <section class="col-md-6">
                                @if (Model.Activities[i].Timeslots[0].StartTime.ToString("dd/MM/yyyy") != "29-07-2018")
                                {
                                    <button class="jazz_page_buybtn" type="button">@Model.Page.PageDescriptions[14].Title</button>
                                    <br />
                                    <button id=@Model.Activities[i].Id class="jazz_page_buybtn" type="button">@Model.Page.PageDescriptions[13].Title</button>
                                }
                            </section>
                        </section>
                    </section>
                </section>

            </section>

            
        }
    </section>



</section>

