@model HaarlemFestival.Model.Page
@{
    ViewBag.Title = "Home Page";
}

<section class="event_summarys">
    <section class="event_summary">
        <h1>text from db</h1>
        <section class="event_summary_img"><img src="/img/Home/Event_Sum_Jazz.jpg" width="277" height="300" alt="Jazz" /></section>
        <button>More info</button>
    </section>

    <section class="event_summary">
        <h1>text from db</h1>
        <section class="event_summary_img"><img src="#" alt="Dinner" /></section>
        <button>More info</button>
    </section>

    <section class="event_summary">
        <h1>text from db</h1>
        <section class="event_summary_img"><img src="#" alt="Talking" /></section>
        <button>More info</button>
    </section>

    <section class="event_summary">
        <h1>text from db</h1>
        <section class="event_summary_img"><img src="#" alt="Historic" /></section>
        <button>More info</button>
    </section>
</section>
<section class="wrapper">
    <section class="wrapper_left">
        <article class="info_festival">
            <h1>What is the Haarlem Festival</h1>
            <p>Hier komt text uit db</p>
        </article>

        <article class="register">
            <h1>Create your own festival</h1>
            <p>Hier komt text uit db</p>
            <button>Register</button>
            <text>Already have an account? @Html.ActionLink("Log in", "Login", "Account")</text>
        </article>
    </section>

    <article class="event_highlights">
        <h1>Event Highlights</h1>

        <article class="event_highlight">
            <h2>@Html.ActionLink("text from db", "Login", "Account", new { @class = "event_hl_link_makeup" })</h2>
            <p>@Html.ActionLink("text from db", "Login", "Account", new { @class = "event_hl_link_makeup" })</p>
        </article>

        <article class="event_highlight">
            <h2>@Html.ActionLink("text from db", "Login", "Account", new { @class = "event_hl_link_makeup" })</h2>
            <p>@Html.ActionLink("text from db", "Login", "Account", new { @class = "event_hl_link_makeup" })</p>
        </article>

        <article class="event_highlight">
            <h2>@Html.ActionLink("text from db", "Login", "Account", new { @class = "event_hl_link_makeup" })</h2>
            <p>@Html.ActionLink("text from db", "Login", "Account", new { @class = "event_hl_link_makeup" })</p>
        </article>

        <article class="event_highlight">
            <h2>@Html.ActionLink("text from db", "Login", "Account", new { @class = "event_hl_link_makeup" })</h2>
            <p>@Html.ActionLink(Model.PageDescriptions[0].DescriptionText, "Login", "Account", new { @class = "event_hl_link_makeup" })</p>
        </article>
    </article>
</section>
