@model HaarlemFestival.Model.PagePlusOrderPlusLogin

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section AddToHead{
    <link href=@Url.Content("~/Content/CheckOut.css") rel="stylesheet" type="text/css" />

}
<section class="checkout_introduction">
    <h1>Only a few steps away</h1>
</section>


<section class="CheckOut">

    <ul class="CheckOutSteps">
        <li class="col-sm-3 @(ViewBag.Title.Equals("CheckOut1")? "selected" : "") ">Step 1<br><text>Login</text></li>
        <li class="col-sm-3 @(ViewBag.Title.Equals("CheckOut2")? "selected" : "") ">Step 2<br><text>Personal Info</text></li>
        <li class="col-sm-3 @(ViewBag.Title.Equals("CheckOut3")? "selected" : "") ">Step 3<br><text>Payment</text></li>
        <li class="col-sm-3 @(ViewBag.Title.Equals("CheckOut4")? "selected" : "") ">Step 4<br><text>Tickets</text></li>
    </ul>


    @RenderBody()  
    
    <section class="orders-container">
        <ul class="AgendaOrderList">
            <li class="OrderHeader">
                <div class="itemHeader col-md-4">Name</div>
                <div class="itemHeader col-md-2">Event</div>
                <div class="itemHeader col-md-1">Price</div>
                <div class="itemHeader col-md-1">Amount</div>
                <div class="itemHeader col-md-2">Total price</div>
                <div class="itemHeader col-md-2">Date</div>
            </li>

            @foreach (var order in Model.Orders)
            {
                foreach (var OHT in order.OrderHasTickets)
                {

                    <li class="AgendaOrder">
                        <div class="orderItem col-md-4">@OHT.Ticket.TimeSlot.Activity.Name</div>
                        <div class="orderItem col-md-2">@OHT.Ticket.TimeSlot.Activity.Type</div>
                        <div class="orderItem col-md-1">@OHT.Ticket.Price</div>
                        <div class="orderItem col-md-1">@OHT.Amount</div>
                        <div class="orderItem col-md-2">@OHT.TotalPrice</div>
                        <div class="orderItem col-md-2">@OHT.Ticket_TimeSlot_StartTime.ToShortDateString(), @OHT.Ticket_TimeSlot_StartTime.ToShortTimeString()</div>
                    </li>
                }
            }
        </ul>
        <label>Totalprice: @Model.TotalOrderPrice.ToString()</label>
    </section>
 
</section>

