@model HaarlemFestival.Model.PagePlusOrderPlusLogin

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section AddToHead{
    <link href=@Url.Content("~/Content/CheckOut.css") rel="stylesheet" type="text/css" />

}

<section class="CheckOut">

    <ul>
        <li class="col-sm-3 @(ViewBag.Title.Equals("CheckOut1")? "selected" : "") ">Step 1<br>Login</li>
        <li class="col-sm-3 @(ViewBag.Title.Equals("CheckOut2")? "selected" : "") ">Step 2<br>Personal info/Register</li>
        <li class="col-sm-3 @(ViewBag.Title.Equals("CheckOut3")? "selected" : "") ">Step 3<br>Payment</li>
        <li class="col-sm-3 @(ViewBag.Title.Equals("CheckOut4")? "selected" : "") ">Step 4<br>Tickets</li>
    </ul>

    <section class="orders-container">
        <ul class="AgendaOrderList">
            <li class="OrderHeader">
                <div class="orderItem col-md-4">Name</div>
                <div class="orderItem col-md-2">Event</div>
                <div class="orderItem col-md-1">Prijs</div>
                <div class="orderItem col-md-1">Aantal</div>
                <div class="orderItem col-md-2">Totaalprijs</div>
                <div class="orderItem col-md-2">Start tijd/datum</div>
            </li>

                @foreach (var order in Model.Orders)
                {
                    foreach (var OHT in order.OrderHasTickets)
                    {

                        <li class="AgendaOrder">
                            <div class="orderItem col-md-4">@OHT.Ticket.TimeSlot.Activity.Name</div>
                            <div class="orderItem col-md-2">@OHT.Ticket.TimeSlot.Activity.Type</div>
                            <div class="orderItem col-md-1">@OHT.Ticket.Price</div>
                            <div class="orderItem col-md-1">@OHT.Amount</div>
                            <div class="orderItem col-md-2">@OHT.TotalPrice</div>
                            <div class="orderItem col-md-2">@OHT.Ticket.TimeSlot.StartTime.ToString("hh:mm dd/MM/yyyy")</div>
                        </li>
                    }
                }
        </ul>
    </section>
    @RenderBody()   
</section>

