@model HaarlemFestival.Model.PagePlusOrders

@{
    ViewBag.Title = "Basket";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section AddToHead{
    <link href="@Url.Content("~/Content/Basket.css")" rel="stylesheet" type="text/css" />
}
@{
    ViewBag.Title = "Index";
}


<section class="AgendaIntro">

    <h2 class="AgendaHeader">Shopping Cart</h2>

    <p class="AgendaIntroText">
        
    </p>
</section>

<section class="AgendaOrders">
    <ul class="AgendaOrderList">
        <li class="OrderHeader">
            <div class="itemHeader col-md-3">Name</div>
            <div class="itemHeader col-md-2">Event</div>
            <div class="itemHeader col-md-1">Prijs</div>
            <div class="itemHeader col-md-1">Aantal</div>
            <div class="itemHeader col-md-2">Totaalprijs</div>
            <div class="itemHeader col-md-2">Start tijd/datum</div>
        </li>


        @if (Model.Orders != null)
        {
            foreach (var order in Model.Orders)
            {
                foreach (var OHT in order.OrderHasTickets)
                {

                    <li class="AgendaOrder">
                        <div class="orderItem col-md-3">@OHT.Ticket.TimeSlot.Activity.Name</div>
                        <div class="orderItem col-md-2">@OHT.Ticket.TimeSlot.Activity.Type</div>
                        <div class="orderItem col-md-1">@OHT.Ticket.Price</div>
                        <div class="orderItem col-md-1">@OHT.Amount</div>
                        <div class="orderItem col-md-2">@OHT.TotalPrice</div>
                        <div class="orderItem col-md-2">@OHT.Ticket.TimeSlot.StartTime.ToString("hh:mm dd/MM/yyyy")</div>
                        <div class="col-md-1">@Html.ActionLink("Delete", "Delete", new { ohdId = OHT.Ticket_TimeSlot_Activity_Id })</div>
                    </li>

                }
            }
        }
        else
        {
            <text>Empty Cart</text>
        }

        
    </ul>
    <label class="totalPrice">Totalprice: @Model.TotalOrderPrice.ToString()</label>
    @Html.ActionLink("Continue to Checkout", "CheckOut1", null, new { @class= "btn_cta" })
</section>