@model HaarlemFestival.Model.PagePlusDescriptions

@{
    ViewBag.Title = "Historic";
}

<section class="HistoricTitle">

    <h1>@Model.Page.Titel</h1>

    <h2>@Model.Page.PageDescriptions[0].Title</h2>

</section>

<section class="HistoricIntro">

    <p>
        @Html.Raw(Model.Page.PageDescriptions[0].DescriptionText)
    </p>

    <button>Click here to book now!</button>
</section>

<section>

    <img class="HistoricImageTop" src="/img/Historic/TopImage1.jpg" alt="" />
    <img class="HistoricImageTop" src="/img/Historic/TopImage2.jpg" alt="" />
    <img class="HistoricImageTop" src="/img/Historic/TopImage3.jpg" alt="" />
    <img class="HistoricImageTop" src="/img/Historic/TopImage4.jpg" alt="" />
    <img class="HistoricImageTop" src="/img/Historic/TopImage5.jpg" alt="" />
    <img class="HistoricImageTop" src="/img/Historic/TopImage6.jpg" alt="" />

</section>

<section class="HistoricRoute">

    <h2>@Model.Page.PageDescriptions[1].Title</h2>
    <hr />
    <p>
        @Html.Raw(Model.Page.PageDescriptions[1].DescriptionText)    
    </p>

    <p>
        @Html.Raw(Model.Page.PageDescriptions[2].DescriptionText)
    </p>
    <hr />
    <img class="HistoricImageRoute" src="/img/Historic/HistoricRoute.png" alt="" />

    <img class="HistoricImageDropMarker1" src="/img/Historic/HistoricDropMarker.png" alt="" />
    <img class="HistoricImageDropMarker2" src="/img/Historic/HistoricDropMarker.png" alt="" />
    <img class="HistoricImageDropMarker3" src="/img/Historic/HistoricDropMarker.png" alt="" />
    <img class="HistoricImageDropMarker4" src="/img/Historic/HistoricDropMarker.png" alt="" />
    <img class="HistoricImageDropMarker5" src="/img/Historic/HistoricDropMarker.png" alt="" />
    <img class="HistoricImageDropMarker6" src="/img/Historic/HistoricDropMarker.png" alt="" />
    <img class="HistoricImageDropMarker7" src="/img/Historic/HistoricDropMarker.png" alt="" />
    <img class="HistoricImageDropMarker8" src="/img/Historic/HistoricDropMarker.png" alt="" />
    <img class="HistoricImageDropMarker9" src="/img/Historic/HistoricDropMarker.png" alt="" />

    <button>Book now!</button>

    <hr />
</section>