@model HaarlemFestival.Model.PpApOpQ

@section AddToScripts{
    <script src="@Url.Content("~/Scripts/ShowHideLocation.js")"></script>
    <script src="@Url.Content("~/Scripts/ModalHistoric.js")"></script>
}

@{
    ViewBag.Title = "Historic";
}
<p id="ordertxt">@Html.Raw(Model.Page.PageDescriptions[28].Title)</p>
<section class="HistoricTitle">

    <h1>@Model.Page.Title</h1>

    <h2>@Model.Page.PageDescriptions[0].Title</h2>

</section>

<section class="HistoricIntro">

    <p>
        @Html.Raw(Model.Page.PageDescriptions[0].DescriptionText)
    </p>

    <button id="HistoricButtonOrder1">@Html.Raw(Model.Page.PageDescriptions[5].DescriptionText)</button>
</section>

<section>

    <img class="HistoricImageTop" src="/img/Historic/TopImage1.jpg" alt="" />
    <img class="HistoricImageTop" src="/img/Historic/TopImage2.jpg" alt="" />
    <img class="HistoricImageTop" src="/img/Historic/TopImage3.jpg" alt="" />
    <img class="HistoricImageTop" src="/img/Historic/TopImage4.jpg" alt="" />
    <img class="HistoricImageTop" src="/img/Historic/TopImage5.jpg" alt="" />
    <img class="HistoricImageTop" src="/img/Historic/TopImage6.jpg" alt="" />

</section>

<section class="HistoricRoute">

    <h2>@Model.Page.PageDescriptions[1].Title</h2>
    <hr />
    <p>
        @Html.Raw(Model.Page.PageDescriptions[1].DescriptionText)
    </p>

    <p>
        @Html.Raw(Model.Page.PageDescriptions[2].DescriptionText)
    </p>
    <hr />


    <img class="HistoricImageRoute" src="@Html.Raw(Model.Page.PageDescriptions[3].ImageUrl)" alt="" />

    <img class="HistoricImageDropMarker1 showhide" id="his1" src="@Html.Raw(Model.Page.PageDescriptions[4].ImageUrl)" alt="The Grote Kerk or St.-Bavokerk" />
    <img class="HistoricImageDropMarker2 showhide" id="his2" src="@Html.Raw(Model.Page.PageDescriptions[4].ImageUrl)" alt="" />
    <img class="HistoricImageDropMarker3 showhide" id="his3" src="@Html.Raw(Model.Page.PageDescriptions[4].ImageUrl)" alt="" />
    <img class="HistoricImageDropMarker4 showhide" id="his4" src="@Html.Raw(Model.Page.PageDescriptions[4].ImageUrl)" alt="" />
    <img class="HistoricImageDropMarker5 showhide" id="his5" src="@Html.Raw(Model.Page.PageDescriptions[4].ImageUrl)" alt="" />
    <img class="HistoricImageDropMarker6 showhide" id="his6" src="@Html.Raw(Model.Page.PageDescriptions[4].ImageUrl)" alt="" />
    <img class="HistoricImageDropMarker7 showhide" id="his7" src="@Html.Raw(Model.Page.PageDescriptions[4].ImageUrl)" alt="" />
    <img class="HistoricImageDropMarker8 showhide" id="his8" src="@Html.Raw(Model.Page.PageDescriptions[4].ImageUrl)" alt="" />
    <img class="HistoricImageDropMarker9 showhide" id="his9" src="@Html.Raw(Model.Page.PageDescriptions[4].ImageUrl)" alt="" />

    <section class="HistoricRouteInfo">
        <p class="DropMarkerGuide">@Html.Raw(Model.Page.PageDescriptions[6].DescriptionText)</p>
        <img class="HistoricImageDropMarker10" src="/img/Historic/HistoricDropMarker.png" alt="Hover over these drop markers on the map to the left" />
    </section>

    <section class="HistoricRouteInfo1">
        <p class="HistoricRouteInfo1">
            @Html.Raw(Model.Page.PageDescriptions[7].DescriptionText)
        </p>
        <img src="/img/Historic/Info1.jpg" alt="The Grote Kerk or St.-Bavokerk" class="HistoricRouteInfo1" />
    </section>

    <section class="HistoricRouteInfo2">
        <p class="HistoricRouteInfo2">
            @Html.Raw(Model.Page.PageDescriptions[8].DescriptionText)
        </p>
        <img src="/img/Historic/Info2.jpg" alt="" class="HistoricRouteInfo2" />
    </section>

    <section class="HistoricRouteInfo3">
        <p class="HistoricRouteInfo3">
            @Html.Raw(Model.Page.PageDescriptions[9].DescriptionText)
        </p>
        <img src="/img/Historic/Info3.jpg" alt="" class="HistoricRouteInfo3" />
    </section>

    <section class="HistoricRouteInfo4">
        <p class="HistoricRouteInfo4">
            @Html.Raw(Model.Page.PageDescriptions[10].DescriptionText)
        </p>
        <img src="/img/Historic/Info4.jpg" alt="" class="HistoricRouteInfo4" />
    </section>

    <section class="HistoricRouteInfo5">
        <p class="HistoricRouteInfo5">
            @Html.Raw(Model.Page.PageDescriptions[11].DescriptionText)
        </p>
        <img src="/img/Historic/Info5.jpg" alt="" class="HistoricRouteInfo5" />
    </section>

    <section class="HistoricRouteInfo6">
        <p class="HistoricRouteInfo6">
            @Html.Raw(Model.Page.PageDescriptions[12].DescriptionText)
        </p>
        <img src="/img/Historic/Info6.jpg" alt="" class="HistoricRouteInfo6" />
    </section>

    <section class="HistoricRouteInfo7">
        <p class="HistoricRouteInfo7">
            @Html.Raw(Model.Page.PageDescriptions[13].DescriptionText)
        </p>
        <img src="/img/Historic/Info7.jpg" alt="" class="HistoricRouteInfo7" />
    </section>

    <section class="HistoricRouteInfo8">
        <p class="HistoricRouteInfo8">
            @Html.Raw(Model.Page.PageDescriptions[14].DescriptionText)
        </p>
        <img src="/img/Historic/Info8.jpg" alt="" class="HistoricRouteInfo8" />
    </section>

    <section class="HistoricRouteInfo9">
        <p class="HistoricRouteInfo9">
            @Html.Raw(Model.Page.PageDescriptions[15].DescriptionText)
        </p>
        <img src="/img/Historic/Info9.jpg" alt="" class="HistoricRouteInfo9" />
    </section>

    <button id="HistoricButtonOrder2">@Html.Raw(Model.Page.PageDescriptions[16].DescriptionText)</button>

</section>

@using (Html.BeginForm())
{

<!-- The Modal -->
<div id="myModalHistoric" class="modalHistoric">
    <!-- Modal content -->
    <div class="modal-contentHistoric">
        <span class="closeHistoric">&times;</span>
        <form id="formHistoric">
            <h1>@Html.Raw(Model.Page.PageDescriptions[17].Title)</h1>
            <p>@Html.Raw(Model.Page.PageDescriptions[17].DescriptionText)</p>
            <input id="HistoricDayOption1" type="radio" name="day" value="1"required/>  <label for="DayChoice1">@Html.Raw(Model.Page.PageDescriptions[18].Title)</label>
            <input id="HistoricDayOption2" type="radio" name="day" value="2"required/>  <label for="DayChoice2">@Html.Raw(Model.Page.PageDescriptions[18].DescriptionText)</label>
            <input id="HistoricDayOption3" type="radio" name="day" value="3"required/>  <label for="DayChoice3">@Html.Raw(Model.Page.PageDescriptions[18].ImageUrl)</label>
            @Html.HiddenFor(model => model.OHT.Ticket_TimeSlot_StartTime)
            <p>@Html.Raw(Model.Page.PageDescriptions[19].DescriptionText)</p>
            <input id="HistoricTimeOption1" type="radio" name="time" value="1"required/> <label for="TimeChoice1">10:00-13:00</label>
            <input id="HistoricTimeOption2" type="radio" name="time" value="2"required/> <label for="TimeChoice2">13:00-16:00</label>
            <input id="HistoricTimeOption3" type="radio" name="time" value="3"required/> <label for="TimeChoice3">16:00-19:00</label>
            <p>@Html.Raw(Model.Page.PageDescriptions[20].DescriptionText)</p>
            <input id="HistoricLangOption1" type="radio" name="language" value="1"required/> <label for="LangChoice1">@Html.Raw(Model.Page.PageDescriptions[21].Title)</label>
            <input id="HistoricLangOption2" type="radio" name="language" value="2"required/> <label for="LangChoice2">@Html.Raw(Model.Page.PageDescriptions[21].DescriptionText)</label>
            <input id="HistoricLangOption3" type="radio" name="language" value="3"required/> <label for="LangChoice3">@Html.Raw(Model.Page.PageDescriptions[21].ImageUrl)</label>
            @Html.HiddenFor(model => model.OHT.Ticket_TimeSlot_Activity_Id)
            <p>@Html.Raw(Model.Page.PageDescriptions[22].DescriptionText)</p>
            <p id="GroupTicketHistoric">@Html.Raw(Model.Page.PageDescriptions[23].DescriptionText)</p>
            <p id="SingleTicketHistoric">@Html.Raw(Model.Page.PageDescriptions[24].DescriptionText)</p>
            <input id="numberTicketsHistoric" type="number" placeholder="max. 4 tickets" min="1" max="4" list="defaultNumbers" required/> <label>@Html.Raw(Model.Page.PageDescriptions[25].DescriptionText)</label> <input id="HistoricGroupTicketOption" type="checkbox" />
            @Html.HiddenFor(model => model.OHT.Ticket_Type)
            <datalist id="defaultNumbers">
                <option value="1">
                <option value="2">
                <option value="3">
                <option value="4">
            </datalist>
            @Html.HiddenFor(model => model.OHT.Amount)
            @Html.HiddenFor(model => model.OHT.TotalPrice)

            <p>@Html.Raw(Model.Page.PageDescriptions[26].DescriptionText)</p>
            <input type="submit" id="HistoricSubmit" value="@Html.Raw(Model.Page.PageDescriptions[27].DescriptionText)"/>
            
        </form>
    </div>

</div>
}



<section class="row">
    <section class="col-md-12 sugestionview">
        <h5>@Html.Raw(Model.Page.PageDescriptions[29].Title)</h5>
    </section>
</section>

<section class="row">
    <section class="col-md-3 sugestionactivities">
        <img src=@Model.SugestionActivityJazz.ActivityDescriptions[0].ImageUrl style="width:100%; height:250px;" alt="Jazz @Model.SugestionActivityJazz.ActivityDescriptions[0].Title" />
        <section class="sugestiontitle">@Model.SugestionActivityJazz.Name</section>
        <section class="sugestiontext">@Model.SugestionActivityJazz.ActivityDescriptions[0].DescriptionText.Substring(0, 170)...</section>
        <a href="@Url.Action("Index", "Jazz")">
            <section class="overlay">
                <section class="text">More info</section>
            </section>
        </a>
    </section>
    <section class="col-md-3 sugestionactivities">
        <img src=@Model.SugestionActivityDinner.ActivityDescriptions[0].ImageUrl style="width : 100%; height:250px;" alt="Dinner @Model.SugestionActivityDinner.ActivityDescriptions[0].Title" />
        <section class="sugestiontitle">@Model.SugestionActivityDinner.Name</section>
        <section class="sugestiontext">@Model.SugestionActivityDinner.ActivityDescriptions[0].DescriptionText.Substring(0, 170)...</section>
        <a href="@Url.Action("Restaurant", "Dinner", new { id = Model.SugestionActivityDinner.Id})">
            <section class="overlay2">
                <section class="text">More info</section>
            </section>
        </a>
    </section>
    <section class="col-md-3 sugestionactivities">
        <img src=@Model.SugestionActivityHistoric.ActivityDescriptions[0].ImageUrl style="width : 100%; height:250px;" alt="Historic @Model.SugestionActivityHistoric.ActivityDescriptions[0].Title" />
        <section class="sugestiontitle">@Model.SugestionActivityHistoric.Name</section>
        <section class="sugestiontext">@Model.SugestionActivityHistoric.ActivityDescriptions[0].DescriptionText.Substring(0, 170)...</section>
        <a href="@Url.Action("Index", "Historic")">
            <section class="overlay3">
                <section class="text">More info</section>
            </section>
        </a>
    </section>
    <section class="col-md-3 sugestionactivities">
        <img src=@Model.SugestionActivityTalking.ActivityDescriptions[0].ImageUrl style="width : 100%; height:250px;" alt="Talking @Model.SugestionActivityTalking.ActivityDescriptions[0].Title" />
        <section class="sugestiontitle">@Model.SugestionActivityTalking.Name</section>
        <section class="sugestiontext">@Model.SugestionActivityTalking.ActivityDescriptions[0].DescriptionText.Substring(0, 170)...</section>
        <a href="@Url.Action("Index", "Talking")">
            <section class="overlay4">
                <section class="text">More info</section>
            </section>
        </a>
    </section>
</section>
