@using HaarlemFestival.Model;
@model HaarlemFestival.Model.PagePlusActivitiesPlusCuisine


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@Model.Page.Name</h1>
<aside class="filter">
    <h3>@Model.Page.PageDescriptions[0].Title hallo</h3>   
    <input type="radio" name="foo"> All()


        @foreach (Cuisine cuisine in Model.Cuisines)
        {
            <input type="radio" name="@cuisine.Name"> @cuisine.Name Html.Raw("()");

        }  
</aside>

@foreach (Activity activity in Model.Activities)
    {
        <div class="restaurant">
            <div class="restaurant_sum_description">
                <h4>@activity.Name</h4>
                <label class="rating">@activity.Rating</label>
                <label>
                    @*@for (int cuisine = 0; cuisine < Model.cuisines.Count; cuisine++)
                        {
                            activity.Cuisines[cuisine].Name.ToString();
                        }*@
                </label>
                <label></label>
            </div>

            <div class="restaurant_img"></div>
            <button class="btn_more_info">@activity.Cuisines text from db</button>
            <button class="btn_booknow">text from db</button>
        </div>
    }

<div class="dinner_description">
    <h2>@Model.Page.PageDescriptions[1].Title</h2>
    <p>@Model.Page.PageDescriptions[1].DescriptionText</p>
</div>
