@model HaarlemFestival.Model.PagePlusActivityPlusOrderDinners
@using System.Web.UI.WebControls

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section AddToHead{
    <link href="@Url.Content("~/Content/Dinner.css")" rel="stylesheet" type="text/css" />
}

@section AddToScripts{
    <script src="@Url.Content("~/Scripts/FilterOnCuisine.js")"></script>
}

<div class="restaurant_information">

    <div class="left_box">
        <img src="@Model.Activity.ActivityDescriptions[0].ImageUrl" />
    </div>

    <div class="right_box">
        <h1>
            @Model.Activity.Name
            <label class="lrating">
                @for (int i = 0; i < Model.Activity.Rating; i++)
                {
                    <img class="rating" src="~/img/Dinner/Summary/Rating_full.png" width="22" height="29" />
                }

                @for (int i = Model.Activity.Rating; i < 5; i++)
                {
                    <img class="rating" src="~/img/Dinner/Summary/Rating_empty.png" width="22" height="29" />
                }
            </label>
        </h1>

        <label class="lprice">Price per menu*</label>
        <h6>Adults: € @Model.Activity.Timeslots[0].Tickets[0].Price</h6>
        <h6>Kids:   € @Model.Activity.Timeslots[0].Tickets[1].Price</h6>


        <label class="lprice">Cuisine*</label>
        @foreach (HaarlemFestival.Model.Cuisine cuisine in Model.Activity.Cuisines)
        {
            <h6>@cuisine.Name</h6>
        }

        <label class="lprice">Timeslots for 26, 27, 28 and 29 of May*</label>

        @foreach (var timeslot in Model.Activity.Timeslots.Where(d => d.StartTime.DayOfWeek == DayOfWeek.Friday))
        {
            <h6>@timeslot.StartTime.ToShortTimeString() - @timeslot.EndTime.ToShortTimeString()</h6>
        }
 
        <label class="lprice">Practical information*</label>
        <h6>@Model.Activity.Location.Street @Model.Activity.Location.StreetNr, @Model.Activity.Location.ZipCode @Model.Activity.Location.City </h6>
        <h6>www.@(Model.Activity.Name).nl* </h6>

    </div>
</div>

<div class="restaurant_description">
    <h2>Why we chose @Model.Activity.Name*</h2>
    <p>@Model.Activity.ActivityDescriptions[0].DescriptionText </p>
</div>

<div id="restaurant_reservation_form" class="restaurant_reservation_form">

    <h2>Make a reservation</h2>

    @using (Html.BeginForm("Order", "Dinner", FormMethod.Post))
    {
        <text><span style="color: red">*</span> = required field!*</text>

        <fieldset >
            <label class="restaurant_form_label" for="day">For which day?*<span style="color: red">*</span></label>
            @foreach (DateTime timeslot in Model.Activity.Timeslots.Select(d => d.StartTime.Date).Distinct())
            {
                <input type="radio" name="Day" value="@timeslot.Date" checked>@(timeslot.DayOfWeek + " " + timeslot.Date.ToShortDateString())<br>
            }
        </fieldset>

        <fieldset>
            <label class="restaurant_form_label" for="rtime">On which timeslot?*<span style="color: red">*</span></label>
            @foreach (var timeslot in Model.Activity.Timeslots.Where(d => d.StartTime.DayOfWeek == DayOfWeek.Friday))   
            {
                <input type="radio" name="Time" value="@timeslot.StartTime" checked> @(timeslot.StartTime.ToShortTimeString() + " - " + timeslot.EndTime.ToShortTimeString()) <br>
            }
        </fieldset>

        <fieldset>
            <label class="restaurant_form_label" for="radults">For how many adults?*<span style="color: red">*</span></label>
            <select class="restaurant_form_select_wide" name="numberOfAdults" id="radults">
                @for (int i = 1; i <= 10; i++)
                {
                    <option name="NumberOfAdults" value="@i">@i</option>
                }
            </select>
        </fieldset>

        <fieldset>
            <label class="restaurant_form_label" for="rkids">And how many kids?* (Ages 12 and below)</label>
            <select class="restaurant_form_select_wide"  name="numberOfKids" id="radults">
                @for (int i = 0; i <= 10; i++)
                {
                    <option name="NumberOfKids" value="@i">@i</option>
                }
            </select>
        </fieldset>

        <fieldset>
            <label class="restaurant_form_label" for="rmisc">Anything we should know?*</label>
            <textarea class="restaurant_form_txtarea" id="rmisc" name="order.OrderHasTickets[0].Remarks" placeholder="Example: I am on a gluten-free diet"></textarea>
        </fieldset>

        <input type="hidden" name="activity.Id" value="@Model.Activity.Id" />
        <input type="submit" value="Order" class="btn_order" />
    }

</div>
