@using HaarlemFestival.Model;
@model HaarlemFestival.Model.PpApOpQ
@section AddToHead{
    <link href="@Url.Content("~/Content/Talking.css")" rel="stylesheet" type="text/css" />
}

@section AddToScripts{
    <script src="@Url.Content("~/Scripts/Talking.js")"></script>
}

@{
    ViewBag.Title = "Index";
}

                                    

<section class="TalkingIntro">

    <h2 class="TalkingHeader">@Model.Page.PageDescriptions[0].Title</h2>

    <p class="TalkingIntroText">
       @Html.Raw(Model.Page.PageDescriptions[0].DescriptionText + " " + Model.Activities[0].Location.Name + ".")
        
        @*misschien van location hierboven een link maken*@

    </p>

</section>


@foreach (Activity a in Model.Activities)
{

    <section class="TalkingEvent">
       
        <section class="TalkingEventNameContainer">
            <header class="TalkingEventName" id="@a.Id">
                @a.Name
            </header>
        </section>
        
        
        <section class="TalkingDag">
            <header class="TalkingDagHeader">
                @a.Timeslots[0].StartTime.DayOfWeek
            </header>
            <header class="TalkingDagHeader">
                @a.Timeslots[0].StartTime.ToString("dd/MM/yyyy")
            </header>
        </section>

        <section class="TalkingSpreker">

            <section class="TalkingSprekerImgContainer">

                <img class="TalkingSprekerImg" src="@a.ActivityDescriptions[0].ImageUrl" alt="spreker" />

                <button id="@Html.Raw(a.Id)" name="AskAQuestion" type="button" class="TalkingButtonSpreker">@Model.Page.PageDescriptions[1].Title</button>

            </section>

            


            <section class="TalkingSprekerUitleg">

                <h2 id=@Html.Raw("spreker1" + @a.Id ) class="TalkingSprekerHeader">@a.ActivityDescriptions[0].Title</h2>

                <p class="TalkingSprekerText">
                    @a.ActivityDescriptions[0].DescriptionText
                </p>

            </section>

        </section>


        <section class="TalkingSpreker2">

            <section class="TalkingSprekerImg2Container">

                <img class="TalkingSprekerImg2" src="@a.ActivityDescriptions[1].ImageUrl" alt="spreker" />

                <button id=@Html.Raw(a.Id) name="AskAQuestion" type="button" class="TalkingButtonSpreker2">@Model.Page.PageDescriptions[1].Title</button>

            </section>


            <section class="TalkingSprekerUitleg">

                <h2 id=@Html.Raw("spreker2" + @a.Id ) class="TalkingSprekerHeader2">
                    @a.ActivityDescriptions[1].Title

                </h2>
                <p class="TalkingSprekerText2">
                    @a.ActivityDescriptions[1].DescriptionText
                </p>

            </section>

        </section>

        <button id=@Html.Raw(a.Id) name="BookNow" type="button" class="TalkingButtonBook">@Model.Page.PageDescriptions[2].Title</button>


    </section>

}

<section id="QuestionModal" class="TalkingBasicModal">

    <!-- Modal content -->
    <section class="modal-content">
        <span class="close">&times;</span>
        <p class="modaltitle"> </p>
        <p>What is your question for <label class="modaltitle"> </label>?</p>

        @using (Html.BeginForm("AskQuestion", "Talking", FormMethod.Post, new {id = "TalkingQuestionForm" }))
        {
            @Html.HiddenFor(model => model.Question.Spreker , new { id = "sprekerNaam"})
            @Html.TextAreaFor(model => model.Question.Message, new { @class = "TalkingQuestionMessage" })

            <input type="submit" value="@Model.Page.PageDescriptions[1].Title" id="TalkingQuestionButton" />
        }

    </section>

</section>

<section id="ThanksModal" class="TalkingBasicModal">

    <!-- Modal content -->
    <section class="modal-content">
        <span id="closeThanksModal" class="close">&times;</span>
        
        <p>@Model.Page.PageDescriptions[3].Title</p>


    </section>

</section>

<section id="OrderModal" class="TalkingBasicModal">

    <!--Modal content-->
    <section class="modal-content">
        <span id="closeOrderModal" class="close">&times;</span>

        @using (Html.BeginForm("Order", "Talking", FormMethod.Post, new { id = "TalkingOrderForm" }))
        {
            <p class="OrderTitle"> </p>
            <p id="OrderMessage">@Model.Page.PageDescriptions[4].Title</p>
           
            <select id="OrderSelect">
                <option value="1" name = "m.OHT.Amount">1</option>
                <option value="2" name = "m.OHT.Amount">2</option>
            </select>

            @*@Html.TextBoxFor(m => m.OHT.Amount, new { @type = "number", @min = "1", @max = "2", @data_message = "You can only enter numbers between '1' and '2'" })*@
           
            @Html.HiddenFor(m => m.OHT.Ticket_TimeSlot_Activity_Id, new { @id = "AvtivityId"})
            <input type="submit" value="@Model.Page.PageDescriptions[2].Title" id="TalkingOrderButton" />
        }
    </section>

</section>



